/* import fichier css */
@import url("base.css");
@import url("header.css");
@import url("components.css");

/********************** search **********************/
.search {
  position: relative;
  padding-bottom: 20px;
}
.search input {
  width: 100%;
  height: 69px;
  border-radius: 6px;
  background-color: #e7e7e7;
  padding-top: 7px;
  padding-left: 22px;
  border: none;
}
.search input::-webkit-input-placeholder {
  color: #c7bebe;
  font-size: 1.35em;
}
.search input::-moz-placeholder {
  color: #c7bebe;
  font-size: 1.35em;
}
.search input:-ms-input-placeholder {
  color: #c7bebe;
  font-size: 1.35em;
}
.search input::-ms-input-placeholder {
  color: #c7bebe;
  font-size: 1.35em;
}
.search input::placeholder {
  color: #c7bebe;
  font-size: 1.35em;
}
.search img {
  position: absolute;
  top: 18px;
  right: 15px;
}

 /********************** Tags **********************/
 .sectionTags {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px; padding-bottom: 15px;  
}

.btnTag img {
  pointer-events: none;
}
/********************** Bouton filtres **********************/
.sectionFiltres {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap; 
}
.colorIngredient {
  background-color: #3282f7;
}
.colorAppareil {
  background-color: #68d9a4;
}
.colorUstensil {
  background-color: #ed6454;
}

/********************** boutons filtres **********************/
.disappear {
  display: none;
}
.disappear.appear { /* display: block; */
  display: flex;
  justify-content: flex-start;
  padding: 0 1rem 0 1rem;
  max-height: 400px;
}
.unsetFilter { /*width: unset; height: unset */
  width: 50%;
}
.btnFilter {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 30px 0;
}
.btnFilter span {
  text-align: center;
}
.btnFilter img {
  position: absolute;
  right: 10px;
  top: 30px;
}
.rotate {
  transform: rotate(180deg);
}
.btnFilter input {
  width: 90%;
  height: 70px;
  padding-left: 1rem;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
  outline: none;
}
.btnFilter input::-webkit-input-placeholder {
  color: #E7E7E7;
}
.btnFilter input::-moz-placeholder {
  color: #E7E7E7;
}
.btnFilter input:-ms-input-placeholder {
  color: #E7E7E7;
}
.btnFilter input::-ms-input-placeholder {
  color: #E7E7E7;
}
.btnFilter input::placeholder {
  color: #E7E7E7;
}
/* retire'x'du champ input from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.btnFilter ul {
  position: absolute;
  bottom: -390px;
  left: 0px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 94%;
  height: 400px;
  padding: 0;
  margin: 0;
  background-color: #3282f7;
  overflow: scroll;
  overflow-x: hidden
}
.btnFilter ul li {
  width: 30%;
  padding-left: 3%;
  padding-bottom: 10px;
  font-weight: normal;
}
.btnFilter #ingredientList {
  background-color: #3282f7;
  z-index: 5;
}
.btnFilter #appareilList {
  background-color: #68d9a4;
  z-index: 5;
}
.btnFilter #ustensilList {
  background-color: #ed6454;
  z-index: 5;
}
/********************** articles recettes **********************/
.sectionRecettes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
article {
  height: 365px;
  width: 30.5%;
  margin-bottom: 50px;
}
.imgRecette {
  height: 178px;
  background-color: #c7bebe;
  border-radius: 6px 6px 0 0;
}
.legende {
  height: 145px;
  background-color: #e7e7e7;
  border-radius: 0 0 6px 6px;
  padding: 19px 22px 22px 22px;
}
.titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.titre span {
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.titre span img {
  padding-right: 7px;
}
.titre h2 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.description {
  display: flex;
  justify-content: space-between;
}
.description ul {
  width: 46%;
  padding: 0 4% 0 0;
  margin: 0;
  font-size: 0.78em;
}
.description ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.description ul li span {
  font-weight: bold;
}
.description p {
  height: 89px;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto", sans-serif;
  font-size: 0.78em;
  margin: 0;
  /* line clamp: ellipsis sur multilignes */
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

/********************** Global Search **********************/
.search .fa-search {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 15px;
  align-content: center;
  font-size: 32px;
  color: black;
 }
 .search button {
  position: absolute;
  justify-content: flex-end;
  align-content: center;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: none;

 }

/* ********************* media queries articles recettes ********************* */

@media screen and (max-width: 1300px) {
  .wrapper {
    padding: 30px 30px 0px 30px;
  }
}

@media screen and (max-width: 1300px) {
  .sectionFiltres {
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 1200px) {
  article {
    width: 48%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .sectionFiltres {
    flex-direction: column;
  }
  .btnFilter {
    flex-direction: row;
    width: inherit;
    height: 5rem;
    padding: 0;
    margin: 0 0 25px 0;
  }
}
@media screen and (max-width: 768px) {
  article {
    width: 100%;
  }
  .sectionTags {
    width: 100%;
    justify-content: flex-start;
  }
  .disappear.appear { /* display: block; */
    display: flex;
    padding: 0 1rem 0 1rem;
    max-height: 400px;
  }
  .btnFilter {
    width: 100%;
  }
  #ingredientFilter, #appareilFilter, #ustensilFilter {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    min-width: 414px;
    padding: 30px 25px 0px 20px;
  }
}
